 /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
	display: block;
 }
 body {
	line-height: 1;
 }
 ol, ul {
	list-style: none;
 }
 blockquote, q {
	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
	content: '';
	content: none;
 }
 table {
	border-collapse: collapse;
	border-spacing: 0;
 }


 /*<----RESSET----->*/

 body {
   background-color: #1B2631;
 }

 h1{
   text-align: center;
   font-size: 30px;
   color: #fff;
   margin: 100px;
 }

 #carousel img {
   float: left;
   margin: 100px 2.8% 100px 2.8%;
   max-width: 17%;
   border: 3px solid #fff;
   height: auto;
 }

 #carousel{
  width: 100%;
  margin: 100px 0 100px 0;
  background-color: #000;
  overflow: hidden;
 }

 #main {
  text-align:center;
  width:100%;
  overflow: hidden;
  padding: 0 0 50px 0;
 }

 #main img {
   max-width:70%;
   height:auto;
   display:block;
   margin: 0 auto;
 }

 #buttons {
   width: 100%;
   padding: 0 0 100px 0;
   text-align: center;
   position:relative;
   bottom:100px;
 }

 #buttons a{
   margin: 0 2% 0 2%;
   color: #fff;
 }



 .hidden {
  display: none;
 }
